<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login">
        <div class="kakao">
            <a href="/oauth2/authorization/kakao">
                <img src="/images/kakao_login_medium_narrow.png">
            </a>
        </div>

        <div class="naver">
            <a href="/oauth2/authorization/naver">
                <img src="/images/btnG_완성형.png" style="width: 183px;">
            </a>
        </div>
    </div>
</body>
</html>